*.class
*.log
.idea
*.iml
.DS_Store
# sbt specific
.cache
.history
.lib/
dist/*
target/
cache/*
metastore_db
pom.xml.versionsBackup

lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
