/**
 * Every step element has one of three classes: `future`, `present` and `past`.
 * Only one current step has the `present` class.
 * When a step is shown (selected) its element gets the class of "active" and
 * the body element gets the class `impress-on-ID` where ID is the step's id.
 */

.notes {
    display:none;
}

.step h2 {
    font-size: 78px;
    font-weight: bold;
}

.code {
    font-family: 'Inconsolata', serif;
    font-size: 42px;
}

.bulletin:not(.active) {
    opacity: 0;
}

.bulletin:(.active) {
    opacity: 1;
}

.bulletin-not-hide:(.active) {
    opacity: 1;
}

.sealed:not(.active) {
    opacity: 0;
}

.sealed:(.active) {
    opacity: 1;
}

.rotate45:not(.active) {
    opacity: 0.1;
}

.fade:not(.active) {
    opacity: 0.02;
}

.fade:(.active) {
    opacity: 0.98;
}

.in-3d {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    /* Y U need this Firefox?! */
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.present .transition-slow {
    -webkit-transition: 4.5s;
    -moz-transition: 4.5s;
    -ms-transition: 4.5s;
    -o-transition: 4.5s;
    transition: 4.5s;
}

.present .transition-fast {
    -webkit-transition: 1s;
    -moz-transition:    1s;
    -ms-transition:     1s;
    -o-transition:      1s;
    transition:         1s;
}

.present .scaling-bigger {
    -webkit-transform: scale(6);
    -moz-transform:    scale(6);
    -ms-transform:     scale(6);
    -o-transform:      scale(6);
    transform:         scale(6);
}

.present .delay-long {
    -webkit-transition-delay: 5s;
    -moz-transition-delay:    5s;
    -ms-transition-delay:     5s;
    -o-transition-delay:      5s;
    transition-delay:         5s;
}

.step.present {
    z-index: 0;
}

.step:not(.present) {
    z-index: -1;
}

.step:not(.active) {
    opacity: 0.05;
}

.present .transition-fast {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.present .sink-much {
    -webkit-transform: translateZ(-140px);
    -moz-transform: translateZ(-140px);
    -ms-transform: translateZ(-140px);
    -o-transform: translateZ(-140px);
    transform: translateZ(-140px);
}

.present .sink-little {
    -webkit-transform: translateZ(-40px);
    -moz-transform: translateZ(-40px);
    -ms-transform: translateZ(-40px);
    -o-transform: translateZ(-40px);
    transform: translateZ(-40px);
}

.present .floating-much {
    -webkit-transform: translateZ(140px);
    -moz-transform: translateZ(140px);
    -ms-transform: translateZ(140px);
    -o-transform: translateZ(140px);
    transform: translateZ(140px);
}

.present .floating-little {
    -webkit-transform: translateZ(40px);
    -moz-transform: translateZ(40px);
    -ms-transform: translateZ(40px);
    -o-transform: translateZ(40px);
    transform: translateZ(40px);
}

.present .delay-short {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.present .delay-long {
    -webkit-transition-delay: 5s;
    -moz-transition-delay: 5s;
    -ms-transition-delay: 5s;
    -o-transition-delay: 5s;
    transition-delay: 5s;
}

.present .delay-10s {
    -webkit-transition-delay: 10s;
    -moz-transition-delay: 10s;
    -ms-transition-delay: 10s;
    -o-transition-delay: 10s;
    transition-delay: 10s;
}

.present .delay-15s {
    -webkit-transition-delay: 15s;
    -moz-transition-delay: 15s;
    -ms-transition-delay: 15s;
    -o-transition-delay: 15s;
    transition-delay: 15s;
}

.present .delay-20s {
    -webkit-transition-delay: 20s;
    -moz-transition-delay: 20s;
    -ms-transition-delay: 20s;
    -o-transition-delay: 20s;
    transition-delay: 20s;
}

.present .rotating {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.present .scaling-smaller {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}

.present .scaling-bigger {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

.color1 {
    color: #ff7f0e;
}

.colorful:nth-of-type(7n+1) {
    color: #ff7f0e;
}

.color2 {
    color: #1f77b4;
}

.colorful:nth-of-type(7n+2) {
    color: #1f77b4;
}

.color3 {
    color: #2ca02c;
}
.colorful:nth-of-type(7n+3) {
    color: #2ca02c;
}
.color4 {
    color: #9467bd;
}
.colorful:nth-of-type(7n+4) {
    color: #9467bd;
}

.colorful:nth-of-type(7n+5) {
    color: #17becf;
}

.colorful:nth-of-type(7n+6) {
    color: #bcbd22;
}

.thanks {
    font-size: 20px;
}

.circle-top-left {
    position: absolute;
    left: 0px;
    top: -220px;
}

.circle-top-right {
    position: absolute;
    left: 265px;
    top: -230px;
}

.circle-bottom-right {
    position: absolute;
    left: 295px;
    top: 35px;
}

.circle-bottom-left {
    position: absolute;
    left: 10px;
    top: 65px;
}

.circle-center {
    position: absolute;
    left: 140px;
    top: -90px;
}

.circle-left-drop {
    position: absolute;
    left: -80px;
    top: 200px;
}
